@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&family=Montserrat:wght@100..900&display=swap');



h1 {
    text-align: center;
    color: brown;
   font-family: "Exo 2", sans-serif;
    font-weight: 900;
    font-size: 50px
    
}

h2 {
    text-align: center;
    color: brown;
   font-family: "Exo 2", sans-serif;
    font-weight: 900;
    font-size: 30px
}

h3 {
    text-align: left;
    color: brown;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size:x-large
    }


h4 {
    text-align: left;
    color: brown;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size:x-large
    }
    


#pesoMediano {font-weight: 300;}




body{
    
    text-align: center;
    background-color:blanchedalmond
}


a:hover {
     font-style: italic;

}


p{
text-align: left;
color:black
}

.miSubrayado{

text-decoration: rgb(192, 27, 27) solid underline;


}

img {
    width: 15%;
    display: block;
    margin: auto;
    border-radius: 500px;
}

